@page
@{
    ViewBag.Title = "Dashboard";
    var user = await GetSessionAsync();
    var stats = await Html.GetPageStatesAsync();
}

<div>
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
        @foreach (var item in stats)
        {
            <a href="@item.Href" class="block hover:bg-gray-50 overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
                <dt class="truncate text-sm font-medium text-gray-500">Total @item.Label</dt>
                <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">@item.Total</dd>
            </a>
        }
    </dl>
</div>

<p class="mt-8 text-sm font-semibold leading-6">
    Go to <a href="/portal/" class="text-indigo-600">Client Rendered Admin <span aria-hidden="true">&rarr;</span></a>    
</p>
