@page
@{
    ViewData["Title"] = "Sign In";

    if (await Html.IsAuthenticatedAsync())
    {
        await Html.RedirectToAsync(Html.GetReturnUrl());
        return;
    }
}

<div class="container px-5 mb-32">
    <div class="mx-auto max-w-lg">
        <h2 class="py-8 text-center text-3xl font-bold text-gray-900 dark:text-gray-100 sm:text-4xl">
            @ViewData["Title"]
        </h2>
        <div id="signin"></div>
        <div class="hidden mt-5 flex justify-center" classes="remove hidden:load">
            @Html.SrcPage("SignIn.mjs")
        </div>
    </div>
</div>

<script type="module">
import SignIn from "/Pages/SignIn.mjs"
import { mount } from "/mjs/app.mjs"
mount('#signin', SignIn, { redirect:`@Html.Query("redirect")` })
</script>